:root {
  --primary-bg: #f00;
  --secondry-bg: #0000ff;
  --text-color:#222222;
  --white: #fff;
  --black: #000;
  --blue: #0000ff;
  --grey: #777575;
  --gainsboro: #dcdcdc;
  --pursuan-blue: #111a3a;
  --global-palette2: #6cbe03;
}