$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font30: 30px;
$font36: 36px;
$font42: 42px;
$font48: 48px;
$font54: 54px;

// height
$height: 100%;